<!--
<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="email" formControlName="email" matInput type="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="password" formControlName="password" matInput type="password">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Registro</button>
    </mat-card-actions>
  </mat-card>
</form>
-->


<body>

  <div class="center">
    <h1>Register Users</h1>
    <form method="post" [formGroup]="form" (ngSubmit)="register($event)">
      <div class="txt_field">
        <input formControlName="email" matInput type="email">
        <span></span>
        <label>Email</label>
      </div>

      <div class="txt_field">
        <input formControlName="password" matInput type="password">
        <span></span>
        <label>Password</label>
      </div>

      <button [disabled]="form.invalid" type="submit">Register</button>

      <div class="signup_link">
        Have a User? <a href="/auth/login">Login</a>
      </div>

    </form>
  </div>
</body>