<!--
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img [src]="img" alt="imagen del banner">
      </div>
    </div>
</div>
-->

<body>
  <div class="banner">
      </div>

  <div class="content">
      <h1>EXPLORE THE UNKNOWN</h1>
      <p>¡Entrena tu mente para que sea más fuerte que tus emociones!</p>
      <p>Luis Manrique Developer Full Stack</p>
      <div>
          <button class="project-btn" type="button" routerLink="/products" routerLinkActive="active">
          <span class="cover"></span>PROJECTS</button>

          <button class="github-btn" type="button" href="https://github.com/xLuisManrique/">
            <span class="cover"></span>GITHUB</button>
      </div>
  </div>
</body>