

<mat-card>

  <mat-card-header>
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>{{product.price | currency }}</mat-card-subtitle>
  </mat-card-header>

  <div class="crop-image">
    <img [src]="product.images" alt="">
  </div>

  <mat-card-content>
    <p>{{product.description}}</p>
  </mat-card-content>

  <mat-card-actions>
    <a [routerLink]="['/products', product.id]" mat-raised-button color="primary"> Ver Detalle</a> 
    <button (click)="addCarrito()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>

</mat-card>



<h1>PRODUCT PAGE</h1>







