<!--
<div class="product-grid">
    <app-product 
        *ngFor="let product of products"
        (addCarro)="clickProduct($event)" 
        [product]="product">
    </app-product>
</div>
-->


<!DOCTYPE html>
<html lang="en">

<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="products.component.scss">

</head>

<body>

    

    <div class="container">
        
        <div class="card">
            <div class="card-image">
                <img src="./../../assets/images/pythonlogo.png" alt="...">
                <i class="bx bx-star"></i>
            </div>
            <div class="card-content">
                <h3>Beecrowd Solutions</h3>
                <p>CodeSource of exercises realized in beecrowd online judge</p>
                <a class="add-to-cart" mat-raised-button href="https://github.com/xLuisManrique/" target="_blank">Source Code</a>
            </div>
        </div> 
        </div>
    

</body>

</html>